body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.flex{
    display: flex;
}
.half_width{
    width: 50%;
    padding-left: 5%;
}
.half_width_h1{
   
    padding-right: 10%;
}
.span_color{
    color: orange;
}
h1{
    font-size: 50px;
   
}
#h1_top_padding{
padding-top: 5%;
}
#p_wight{
   
   font-weight: 300;
}
.half_width img{
    width: 80%;
    max-height: 100%;
   
}
.link_button{
    text-decoration: none;

    padding: 10px 40px;
    background-image: linear-gradient(orange,tomato);
    font-weight: 300;
    color: white;
    border-radius: 50px;
  
}
.link_button_top{
    margin-top: 20px;
}
.about{
   background-image: url(images/about_bg.png);
   object-fit: cover; 
   background-repeat: no-repeat;
}
.text_center{
    text-align: center;
}
.third{
    width: 28%;
    height: 26em;
    box-shadow: 10px 10px 40px #b5aeae;
    border-radius: 15px;
    
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px;
}
.center{
  display: block;
  width: 70%;
  width: 100%;
  
}
footer{
    background-color: rgb(31, 30, 30);
    height: 8em;
    text-align: center;

}
h3{
    color:rgb(123, 116, 116);
}
h6{
    color: white;
}
.header{
    height: 5em;
}
#margin_recipiecs{
    margin-left: 8%;
    margin-right: 8%;
}